@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa:wght@700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  font-family: 'Poppins', sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-shadow: 0 10px 10px rgba(1 1 1/ 15%);
}


body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f9f9f9;
  }
  
  .night-mode {
    background-color: #000;
    color: #fff; /* Change text color for better visibility */
}
  
  #wrapper {
    margin: 0 auto;
  }

header {
    background-color: #000016;
    width: 100%;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px ;
  }
 
.navigation {
  background-color: #000016;
  color: #fff;
  padding: 1em;
  display: flex;
  justify-content: space-between ;
}

.navigation a {
  color: #cd9a65;
  text-decoration: none;
  font-size: 1.1em;
  font-weight: 500;
  padding-left: 30px;
  
}

  header h1 {
    margin: 0;
    text-align: center;
  }
  
  header img {
    display: block;
    margin: 0 auto;
    height: auto;
    max-width: 100%;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
   ul li {
    margin: 0 10px;
    list-style-type: none;
    font-weight: bold;

  }
  
  nav ul li a {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
  }
  
  main {
    position: relative;
    padding: 100px;
    align-items: center;
    margin-top: 60px;
    overflow: hidden;
    margin: 0;
}

main::before {
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(background.jpeg) center/cover fixed;
    opacity: 0.7; /* Adjust the opacity value (0.7) for transparency */
    z-index: -1;
}

  main h2 {
    font-size: 24px;
    margin: 0 0 10px 0;
    font-weight: bold;

  }
  
  main p {
    font-size: 16px;
    line-height: 1.5;
    margin: 0 0 20px 0;
    font-weight: bold;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    border-radius: 10px;
    overflow: hidden;
    color: #000;
  }
  
  table thead {
    background-color: #cd9a65;
    color: #fff;
  }
  
  table thead th {
    padding: 10px;
    text-align: left;
  }
  
  table tbody tr {
    border-bottom: 1px solid #ccc;
  }
  
  table tbody td {
    padding: 10px;
    text-align: left;
  }
  
  table tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
  }
  table tbody tr:nth-child(even) {
    background-color: #cd9a65;
  }
  
  table tbody tr:last-child {
    border-bottom: none;
  }


  .footer {
    background-color: #000016;
    color: #fff;
    width: 100%;
    padding: 2em;
    display: flex;
    margin-top: auto;
    justify-content: space-between ;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
}

.footer-title {
  font-size: 1.3em;
  text-align: left;
}

.footer-title span {
  color: #cd9a65;
}

.social-icons a{
  color: rgb(255, 255, 255);
  font-size: 1.7em;
  padding-right: 30px;
  padding-left: 15px;
  transition: 0.7s ease;
}

.footer .social-icons {
  padding: 5px;
}

.social-icons button {
  color: rgb(255, 255, 255);
  background-color: #000;
  border: none;
  font-size: 1em;
}

#mail {
  margin-right: -45px;
}

#contactForm {
  font-size: 50px;
}

  @media (max-width: 768px) {
    nav ul {
      flex-direction: column;
    }
  
    nav ul li {
      margin: 0;
    }
  
    nav ul li a {
      padding: 10px 0;
    }
  }